# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm
node_modules
*.log
*.gz

# package-lock
package-lock.json

# dotenv environment variables file
.env

# preliminary_test
preliminary_test
