<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/horizon.css">
  <link rel="stylesheet" href="../css/goal_editor_modal.css">
  <link rel="icon" href="../img/logo_icon_coral.png">
  <title>Horizon</title>
</head>

<body>
  <%- include("partials/header") %>
    <div class="main">
      <div class="my-3">
        <div class="horizon-container px-3 pt-3 row justify-content-evenly">
          <div class="date-container">
            <div class="date-header-container d-flex justify-content-center mt-1">
              <h4 onclick=renderEventsToday()>TODAY</h4>
            </div>
            <div class="date-title-container row justify-content-between">
              <p class="date-before before material-icons ">chevron_left</p>
              <div class="date-value col-8 text-center"></div>
              <p class="date-after after material-icons ">chevron_right</p>
            </div>
            <div class="date-sub-title-container row mb-2">
              <div class="date-sub-title text-center"></div>
            </div>
            <div class="date-events-container events-container row px-2 mb-3 overflow-auto smooth-scroll">

            </div>
            <div class="date-add-new-container row ">
              <input type="text" class="date-new-task-title col-10 " placeholder="add new task this day">
              <button class="date-add-new-task btn col-1" onclick="addNewEvent('date', 'task')">+</button>
            </div>
          </div>
          <div class="week-container">
            <div class="week-header-container d-flex justify-content-center mt-1">
              <h4>WEEK</h4>
            </div>
            <div class="week-title-container justify-content-between row">
              <p class="week-before before material-icons ">chevron_left</p>
              <div class="week-value col-8 text-center"></div>
              <p class="week-after after material-icons ">chevron_right</p>
            </div>
            <div class="week-sub-title-container row mb-2">
              <div class="week-sub-title text-center"></div>
            </div>
            <div class="week-events-container events-container row px-2 mb-3 overflow-auto smooth-scroll">
            </div>
            <div class="week-add-new-container row">
              <input type="text" class="week-new-task-title  col-10" placeholder="add new task this week">
              <button class="week-add-new-task btn col-1" onclick="addNewEvent('week', 'task')">+</button>
            </div>

          </div>
          <div class="month-container">
            <div class="month-header-container d-flex justify-content-center mt-1">
              <h4>MONTH</h4>
            </div>
            <div class="month-title-container justify-content-between row">
              <p class="month-before before material-icons ">chevron_left</p>
              <div class="month-value col-8 text-center"></div>
              <p class="month-after after material-icons">chevron_right</p>
            </div>
            <div class="month-sub-title-container row mb-2">
              <div class="month-sub-title text-center"></div>
            </div>
            <div class="month-events-container events-container row px-2 mb-3 overflow-auto smooth-scroll"></div>
            <div class="month-add-new-container row ">
              <input type="text" class="month-new-task-title  col-10" placeholder="add new task this month">
              <button class="month-add-new-task btn col-1" onclick="addNewEvent('month', 'task')">+</button>
            </div>
          </div>
          <div class="year-container">
            <div class="year-header-container d-flex justify-content-center mt-1">
              <h4>YEAR</h4>
            </div>
            <div class="year-title-container justify-content-between row">
              <p class="year-before before material-icons ">chevron_left</p>
              <div class="year-value col-8 text-center"></div>
              <p class="year-after after material-icons ">chevron_right</p>
            </div>
            <div class="year-sub-title-container row mb-2">
              <div class="year-sub-title text-center"></div>
            </div>
            <div class="year-events-container events-container row px-2 mb-3 overflow-auto smooth-scroll"></div>
            <div class="year-add-new-container row ">
              <input type="text" class="year-new-goal-title col-10" placeholder="add new goal for the year">
              <button class="year-add-new-goal btn col-1" onclick="addNewEvent('year', 'goal')">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <%- include("partials/goal_editor_modal") %>
      
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="../js/helpers.js"></script>
          <script src="../js/header.js"></script>
          <script src="../js/horizon.js"></script>
          <script src="../js/event_components.js"></script>
          <script src="../js/goal_editor_modal.js"></script>
</body>

</html>