<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/horizon.css">
  <link rel="stylesheet" href="../css/goal_editor_modal.css">

  <title>Horizon</title>
</head>

<body>
  <%- include("partials/header") %>
    <div class="main">
      <div class="container-xl my-3">
        <div class="row justify-content-center section purpose">
          <div class="row section-title border-top border-secondary mt-4 py-2">
            Purpose
          </div>
          <div class="row d-flex section-content overflow-auto smooth-scroll">
            <div>Save the puppies</div>
            <div>Be...wait for it... legendary</div>
            <div>Maybe save the earth too</div>
          </div>
        </div>
        <div class="horizon-container row justify-content-between">
          <div class="date-container col-3">
            <div class="date-title-container row border-top border-secondary mt-4 py-2">
              <div class="date-before before col-2 text-center">&lt;</div>
              <div class="date-value col-8 text-center">10/18</div>
              <div class="date-after after col-2 text-center">&gt;</div>
            </div>
            <div class="date-events-container events-container row px-2 overflow-auto smooth-scroll">
              
            </div>
            <div class="date-add-new-container row px-2">
              <div class="col-10">
                <input type="text" class="date-new-task-title" placeholder = "add new task">
              </div>
              <button class="add-new-task btn col-2" onclick="addNewEvent('date', 'task')">+</button>
            </div>
          </div>
          <div class="week-container col-3">
            <div class="week-title-container row border-top border-secondary mt-4 py-2">
              <div class="week-before before col-2 text-center">&lt;</div>
              <div class="week-value col-8 text-center">Week 44</div>
              <div class="week-after after col-2 text-center">&gt;</div>
            </div>
            <div class="week-events-container events-container row px-2 overflow-auto smooth-scroll">
            </div>
            <div class="week-add-new-container row px-2">
              <div class="col-10">
                <input type="text" class="week-new-task-title" placeholder="add new task">
              </div>
              <button class="add-new-task btn col-2" onclick="addNewEvent('week', 'task')">+</button>
            </div>
            
          </div>
          <div class="month-container col-3">
            <div class="month-title-container row border-top border-secondary mt-4 py-2">
              <div class="month-before before col-2 text-center">&lt;</div>
              <div class="month-value col-8 text-center">October</div>
              <div class="month-after after col-2 text-center">&gt;</div>
            </div>
            <div class="month-events-container events-container row px-2 overflow-auto smooth-scroll"></div>
            <div class="month-add-new-container row px-2">
              <div class="col-10">
                <input type="text" class="month-new-task-title" placeholder="add new task">
              </div>
              <button class="add-new-task btn col-2" onclick="addNewEvent('month', 'task')">+</button>
            </div>
          </div>
          <div class="year-container col-3">
            <div class="year-title-container row border-top border-secondary mt-4 py-2">
              <div class="year-before before col-2 text-center">&lt;</div>
              <div class="year-value col-8 text-center">2021</div>
              <div class="year-after after col-2 text-center">&gt;</div>
            </div>
            <div class="year-events-container events-container row px-2 overflow-auto smooth-scroll"></div>
            <div class="year-add-new-container row px-2">
              <div class="col-10">
                <input type="text" class="year-new-goal-title" placeholder="add new goal">
              </div>
              <button class="add-new-goal btn col-2" onclick="addNewEvent('year', 'goal')">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <%- include("partials/goal_editor_modal") %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
      <script src="../js/horizon.js"></script>
      <script src="../js/fetch_api.js"></script>
      <script src="../js/goal_editor_modal.js"></script>
</body>

</html>