<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/signin_signup.css">
    <link rel="icon" href="../img/logo_icon_coral.png">
    <title>Sign up</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../img/logo_weekly_icon_left.png" alt="weekly logo"
            style="height:50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <a class="nav-link" href="/signin">Sign in</a>
          </div> -->
      </div>
    </nav>
    <div class="container" style="max-width: 400px;  margin-top:15vh">
          <%- include("partials/signin_signup_header") %>
      <form class="row g-3 mb-3 border-bottom pb-3">
        <div class="name-cotnainer col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Jessica Chen" required>
        </div>
        <div class="birthday-container col-12">
          <label for="birthday" class="form-label">Birthday</label>
          <input type="date" class="form-control" id="birthday" min="1500-01-01" max="2500-01-01" required>
        </div>
        <div class="email-cotnainer col-12">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
        </div>
        <div class="password-cotnainer col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="********" required>
        </div>
        <div class="confirm-password-cotnainer col-12">
          <label for="confirm-password" class="form-label">Confirm password</label>
          <input type="password" class="form-control" id="confirm-password" placeholder="********" required>
        </div>
        <div class="password-not-match" hidden>
          ✗ The password confirmation does not match.
        </div>
        <div class="password-match" hidden>
          ✓ password confirmation matched.
        </div>
        <div class="col-12 ">
          <button class="btn sign-up-button w-100" type="submit">Create an account</button>
        </div>
      </form>
      <div class="row signup-signin-switch pb-6">
        <div class="col-auto"><span class="pe-3">Already have an account?</span><a href="/signin">Sign in here</a></div>
      
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/helpers.js"></script>
    <script src="../js/signup.js"></script>
  </body>
</html>
