*{
  color: #474749;
}

.main {
    margin-top: 100px;
}

a {
  text-decoration: none;
  color: #111111;
}
a:hover {
  text-decoration: none;
  color: #111111;
}
/* button {
    margin: 3px;
} */
[contenteditable="true"]  :matches(:hover, :focus){
border: grey slid 1x;
}

input.off-focus, textarea.off-focus  {
  background:none;
  border:none;
}