*{
  color: #474749;
}

.main {
    margin-top: 100px;
}

a {
  text-decoration: none;
  color: #111111;
}
a:hover {
  text-decoration: none;
  color: #111111;
}
/* button {
    margin: 3px;
} */

textarea {
  border: solid grey 1px;
}

input.off-focus, textarea.off-focus  {
  background:none;
  border:none;
}
textarea.off-focus {
  border: solid grey 1px;
  border-radius: 3px;
}
.form-check-input {
  margin-top:8px;
}

.form-check-input:checked {
    background-color: #6dfdae;
    border-color: #6dfdae;
}

.event-label {
  margin-bottom:0;
  padding: 0.2rem 0.6rem;
  font-weight:500;
  line-height: 100%;
  box-sizing: border-box;
}
.event-label.goal-label {
  background-color: #fa8181;
  color: #474749;
}
.event-label.milestone-label {
  background-color: #fdc46e;
  color: #474749;
}
.event-label.task-label {
  background-color: #fdf36e;
  color: #474749;
}

.icon-task-repeat, .edit-button, .event-parents-icon {
  font-size: 18px;
  padding: 0.2rem 0.2rem ;
  margin-left:0.2rem;
  line-height: 100%;
  box-sizing: border-box;
  color: #58585a;
}
.edit-button {
  display: inline-block;
  justify-self:flex-end;
}
.edit-button:hover, .event-parents-icon:hover {
  background-color: #c7c6c6;
  border: 1px solid #b6b6b6;
  border-radius:3px;
  cursor: pointer;
}

.btn-outline-danger {
  color: #fa8181;
  border-color: #fa8181;
}
.btn-outline-danger:hover {
  background-color: #fa8181;
}

.btn-outline-success {
  color: #6dfdae;
  border-color: #6dfdae;
}
.btn-outline-success:hover {
  background-color: #6dfdae;
  border-color: #3ef791;
}

.btn-outline-warning {
  color: #474749;
  border-color: #c9c157;
}
.btn-outline-warning:hover {
  background-color: #fdf36e;
  border-color: #c9c157;
  color: #474749;
}

.event-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-footer-container>.btn-outline-danger, .event-footer-container>.btn-outline-success {
  width:48%;
  margin-bottom: 0.5rem;
}

.event-outer-container {
  height: fit-content;
}

.event-outer-container:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.events-container {
  align-content: flex-start;
  height: 60vh;
}

.repeat-description, .repeat-end-date-description {
  padding:0;
}
.task-repeat-selector{
  padding:3px 12px;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #d0d2d4;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}