#modal-goal .modal-header {
  background-color: rgb(241, 241, 241);
}
.goal-modal-body {
  height: 90vh;
  /* background-color: rgb(210, 210, 210); */
}
.modal-goal-title {
  font-size: 1.6rem;
  color: #FD6E6E;
  width:25%;
}
.milestone {
  border: solid grey 1px;
}

.milestone-title {
  font-size: large;
}

/* .edit-button, .btn {
  height: 1.8em;
  line-height: 100%;
} */
.add-milestone-outer-container {
  padding-left: 0;
  padding-right: 0;
}
.add-milestone-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  border: solid rgb(207, 207, 207) 1ps;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fdc46e;
  padding: 5px 2px;
}

.modal-add-new-task-container {
  box-sizing: border-box;
  background-color: #fdf36e;
  padding: 8px 12px;
  border: solid rgb(207, 207, 207) 1ps;
  border-radius: 3px;
  width: 98%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.milestone-title-container {
  padding-right: 0;
  padding-left: 0;
}

.milestone-title {
  width: 100%;
}

.modal-milestone-edit-button {
  width: 9%;
  text-align:center;
}

.milestone-container .save-milestone-button, .milestone-container .delete-milestone-button, .modal-goal-buttons-container .save-goal-button, .modal-goal-buttons-container .editor-delete-goal-button  {
  width: 48%;
  margin-bottom: 0.5rem;
}



.modal .milestone-outer-container {
  background-color: rgb(238, 238, 238);
  margin-right:10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
}

.milestone-buttons-container, .modal-goal-buttons-container{
  display: flex;
  justify-content:space-between;
}

.goal-container-row>.goal-container {
  padding-left:1%;
   padding-right:7.2%;
}
.modal .milestone-title {
  margin-left:10px;
  font-size: 1.2rem;
}
.modal .milestone-container {
  height: 70vh;
}