* {
  box-sizing: border-box;
}
.card-edit {
  height: 1.8em;
  line-height: 100%;
}
.events-container {
  max-height: 70vh;
}
.date-container, .week-container, .month-container, .year-container {
border: solid gainsboro 1ps ;
border-radius: 5px;
}
.date-add-new-container, .week-add-new-container, .month-add-new-container {
  box-sizing: border-box;
  background-color: gainsboro;
  padding: 5px 2px;
  margin: 5px 10px;
  border: solid gainsboro 1ps ;
  border-radius: 3px;
}

.year-add-new-container {
  box-sizing: border-box;
  background-color: #FD6E6E;
  padding: 5px 2px;
  margin: 0 10px;
  border: solid gainsboro 1ps ;
  border-radius: 3px;
}
.event-title {
  font-size: large;
}
/* .edit-button {
  opacity: 0;
}
.edit-button :hover {
  opacity: 100;
} */

/* .goal-outer-container {
  background-color: rgb(210, 210, 210);
}
.milestone-outer-container {
   background-color: rgb(241, 241, 241); 
} 
.task-outer-container {
  background-color: rgb(255, 255, 255);
} */
a {
  text-decoration: none;
  color: #111111;
}
a:hover {
  text-decoration: none;
  color: #111111;
}
.date-value, .week-value, .month-value, .year-value {
  font-size: 1.4rem;
}
[contenteditable = "true"] {
  padding: .4rem; 
} 
.date-header-container:hover {
cursor: pointer;
}


