* {
  box-sizing: border-box;
}
h4,
.date-value,
.week-value,
.month-value,
.year-value {
  font-weight: 300;
  color: #474749;
  margin: 8px 0;
}
.card-edit {
  height: 1.8em;
  line-height: 100%;
}

.date-container,
.week-container,
.month-container,
.year-container {
  width: 24%;
}

.events-container {
  /* max-height: -webkit-calc(100% - 100px); */
  border-left: solid 1px rgb(236, 236, 236);
  border-right: solid 1px rgb(236, 236, 236);
}

.date-add-new-container,
.week-add-new-container,
.month-add-new-container {
  box-sizing: border-box;
  background-color: #fdf36e;
  padding: 5px 10px;
  margin: 5px -2px;
  border: solid gainsboro 1ps;
  border-radius: 3px;
  width: 100%;
}

.year-add-new-container {
  box-sizing: border-box;
  background-color: #fd6e6e;
  padding: 5px 10px;
  margin: 5px -2px;
  border: solid gainsboro 1ps;
  border-radius: 3px;
  width: 100%;
}

.date-add-new-task,
.week-add-new-task,
.month-add-new-task,
.year-add-new-goal {
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: #111111;
}
a:hover {
  text-decoration: none;
  color: #111111;
}
.date-value,
.week-value,
.month-value,
.year-value {
  font-size: 1.4rem;
}

.date-header-container:hover {
  cursor: pointer;
}

.material-icons {
  font-size: 1.2rem;
  padding: 0;
}

.before,
.after {
  font-size: 1.5rem;
  margin: 8px 0;
  height: 30px;
  width: 30px;
  padding: 5px;
  text-align: center;
  line-height: 100%;
}
.before:hover,
.after:hover {
  background-color: lightgrey;
  border-radius: 50%;
  cursor: pointer;
}

.event-parents-container {
 font-size: 12px;
 font-weight:400;
}
.event-parents-container>.material-icons {
 font-size: 16px;
}
.event-parents-container>.event-parents {
 font-size: 14px;
}