<a href="/"><div class="logo row pb-3 ps-2 mb-3 border-bottom">
  <div class="col-3 logo-icon"><img src="../../img/logo_icon_coral.png" alt="weekly-logo" style="width: 80px;"></div>
  <div class="col-9 logo-text my-auto">
  <img src="../../img/logo_weekly_grey.png" alt="weekly" style="width: 240px;" ></div>
</div></a>