

<div class="modal fade" id="template" tabindex="-1" aria-labelledby="GoalEditorModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="card mx-2 mb-3"">
        <div class="card-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5 class="card-title">Goal 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">3 months | 2 milestones</h6>
          <div class="row mb-3">
            <p>description
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
              corrupti
              quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              officia
              deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          </div>
          <div class="row mb-3">
            <div class="col-6">author: Nick</div>
            <div class="col-6">pt: 500 </div>
          </div>

          
          <div class="row">
            <button type="button" class="btn btn-primary mb-3">Pick due date and use as template</button>
            <div class="col-3 mb-3">
              <label for="start" class="col-form-label">Due date:</label>
              <input type="date" id="start" name="trip-start" value="2022-01-01" min="1950-01-01" max="2100-01-01" />
            </div>
          </div>
        </div>
      </div>
  </div>
</div>